extends base.pug

block scripts
  script(src='../static/index.js')

block style 
    style
      include ../static/style.css

block gamecontent
    .gamebody
      a(href="https://harshsharma1981.github.io/1981snake.github.io/") 
        .snakegamecontainer
          div.snakegame  
            img(src="../static/img/logo1.PNG", alt="")
            h3 1981 Snake Game
          div.snakegametext 
            h3 1981 Snake Game Web Game Play On Your Browser
        .snakegamecontainer
          div.snakegame  
            img(src="https://img.freepik.com/free-vector/coming-soon-banner-with-focus-lights_1017-33739.jpg?t=st=1658578214~exp=1658578814~hmac=f80c169890fb66f3c6e1ec9c76e554fa70055559c6073cb14fe5665dcebf2c49&w=740", alt="comming soon")
            h3 comming soon...
          div.snakegametext 
            h3 comming soon...
        .snakegamecontainer
          div.snakegame  
            img(src="https://img.freepik.com/free-vector/coming-soon-banner-with-focus-lights_1017-33739.jpg?t=st=1658578214~exp=1658578814~hmac=f80c169890fb66f3c6e1ec9c76e554fa70055559c6073cb14fe5665dcebf2c49&w=740", alt="comming soon")
            h3 comming soon....
          div.snakegametext 
            h3 comming soon...
        