<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSWD gaming</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/index.js"></script>
  </head>
  <body>
    <nav id="navbar">
      <div class="img"> <a href="/"> <img src="../static/img/icon.png" alt="logo">
          <h3>HSWD</h3></a></div>
      <ul id="mylinks">
        <li><a href="/">Home</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/app">App </a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/helpfeedback">Feedback</a></li>
      </ul><a class="icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </nav>
    <div id="container"> 
      <form class="myform" action="helpfeedback" method="post"> 
        <h3>Feedback </h3>
        <input class="myinput" type="text" name="Name" placeholder="Enter Your Name">
        <input class="myinput" type="email" name="Email" placeholder="Enter Your Email">
        <input class="myinput" type="text" name="feedback" placeholder="Enter Your Message">
        <button class="inputbtn">Submit</button>
      </form>
    </div>
    <footer id="footer">
       HSWDGaming.com © 2022. All Rights Reserved.</footer>
  </body>
</html>
