extends base.pug

block scripts
  script(src='../static/index.js')

block style 
    style
      include ../static/style.css

block content
    div#container 
      form(action="helpfeedback", method="post", class="myform") 
        h3 Feedback 
        input(type="text", class="myinput", name="Name", placeholder="Enter Your Name")
        input(type="email", class="myinput", name="Email", placeholder="Enter Your Email")
        input(type="text", class="myinput", name="feedback", placeholder="Enter Your Message")
        button(class="inputbtn")
          | Submit