doctype html
html
  head
    title HITM gaming
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    
  style
      include ../static/style.css
  body
    nav#navbar 
      ul 
        div#logo
           img(src="../static/img/icon.png")
        li #[a(href="/") Home]
        li #[a(href="/") Game]
        li #[a(href="/") App ]
        li #[a(href="/") About]
        
    section#intro 
      h2(class="intro") Welcome to Hitm Gaming
    section#gamesection 
      | gamesection
    section#explore 
      | explore new app and games 
    footer#footer 
      | HitmGaming.com © 2022. All Rights Reserved.       
    script
      include ../static/index.js